@media (max-width:960px){
	.rocket{
		max-width: 230px;
	}
	.table{
		&-column{
			width: 250px;
		}
	}	
}

@media (max-width:768px){
	.header{
		flex-direction: column;
		align-items: center;
		.logo{
			margin-bottom: 20px;
		}
		.main{
			&-nav{
				margin-bottom: 20px;
			}
		}
	}
	.rocket{
		max-width: 180px;
	}
	.video{
		width: 100%;
	}
}

@media (max-width:576px){
	.rocket{
		position: static;
		margin-bottom: 30px;
		margin-left: 25%;
	}
	.table{
		margin-bottom: 0;
		&-column{
			font-size: 14px;
			width: 150px;
		}
	}
	.video{
		width: 100%;
	}
	.footer{
		&-nav{
			.list{
				flex-wrap: wrap;
				justify-content: center;
			}
			.item{				
					margin-bottom: 15px;
			}
		}
		&-text{
			text-align: center;
		}
	}
	.main{
		padding-top: 50px;
	}
	.features{
		padding-bottom: 0;
	}
}